<html>

<head>
    <title>Geolocation</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <div
        style="width: auto; margin: 10px; border-width: 5px; border-radius: 0.125rem; border-color: blue; border: solid;">
        <span
            style="display: block; margin: 0 auto; width: fit-content; font-weight: 700; font-size: 1.5rem; line-height: 2rem;">
            Plan
        </span>
    </div>
    <div
        style="width: auto; margin: 10px; border-width: 5px; border-radius: 0.125rem; border-color: blue; border: solid;">
        <div style="display: block; margin: 10px auto; width: 80%; height: 70vh;">
            <div id="map" style="height: 100%; "></div>
        </div>
    </div>

    {% if locations %}
    <div
        style="width: auto; margin: 10px; border-width: 5px; border-radius: 0.125rem; border-color: blue; border: solid; padding: 10px 10px; ">
        <span
            style="display: block; margin: 0 auto; width: fit-content; font-weight: 700; font-size: 1.5rem; line-height: 2rem; text-decoration: underline;">
            Ordered list
        </span>
        <div
            style="display: block; margin: 0 auto; max-height: 40vh; height: auto; width: 70%; padding: 5px 5px; overflow-y: auto;">
            <div
                style="border-width: 5px; border-radius: 0.125rem; border-color: blue; border: solid; padding: 5px 5px;">
                <div>
                    <p style="font-weight: 700; font-size: 1.25rem; line-height: 1.5rem;">{{locations[0].nom}}</p>
                </div>
                <div>
                    <p style="font-weight: 500">Source: {{locations[0].source}}</p>
                    <p style="font-weight: 500">Ouverture: {{locations[0].ouverture}}</p>
                    <p style="font-weight: 500">Details: {{locations[0].details}}</p>
                    {% if locations[0].ouvert %}
                    <p style="font-weight: 500; color: green;">
                        Ouvert
                        {% if locations[0].deGarde %}
                        (de garde)
                        {% endif %}
                    </p>
                    {% else %}
                    <p style="font-weight: 500; color: red;">Ferme</p>
                    {% endif %}
                </div>
                <div>
                    <p style="font-weight: 600">A {{locations[0].distance}} m de votre position </p>
                </div>
            </div>
            {% for loc in locations[1:] %}
            <div
                style="border-width: 5px; border-radius: 0.125rem; border-color: blue; border: solid; margin-top: 15px;">
                <div>
                    <p style="font-weight: 700; font-size: 1.25rem; line-height: 1.5rem;">{{loc.nom}}</p>
                </div>
                <div>
                    <p style="font-weight: 500">Type: {{loc.type}}</p>
                    <p style="font-weight: 500">Ouverture: {{loc.ouverture}}</p>
                    <p style="font-weight: 500">Details: {{loc.details}}</p>
                    {% if loc.ouvert %}
                    <p style="font-weight: 500; color: green;">
                        Ouvert
                        {% if loc.deGarde %}
                        (de garde)
                        {% endif %}
                    </p>
                    {% else %}
                    <p style="font-weight: 500; color: red;">Fermé</p>
                    {% endif %}
                </div>
                <div>
                    <p style="font-weight: 600">A {{loc.distance}} m de votre position </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <script>
        let latitude = Number("{{latitude}}")
        let longitude = Number("{{longitude}}")

        let iconURL = "{{url_for('static', filename='image/home.png')}}"

        var homeIcon = L.icon({
            iconUrl: iconURL,
            iconSize: [40, 40], // size of the icon
            popupAnchor: [-3, -20] // point from which the popup should open relative to the iconAnchor
        });

        var map = L.map('map').setView([latitude, longitude], 13)
        L.marker([latitude, longitude], { icon: homeIcon }).addTo(map).bindPopup("Your current position.");
        let locs = {{ locations| tojson }}

        for (let loc of locs) {
            L.marker([loc.lat, loc.lon]).addTo(map).bindPopup(`
                <div>
                    <p style="font-weight: 700; font-size: 1.25rem; line-height: 1.5rem;">${loc.nom}</p>
                </div>
                <div>
                    <p style="font-weight: 500">Source: ${loc.source}</p>
                    <p style="font-weight: 500">Détails: ${loc.details}</p>
                    <p style="font-weight: 500">Ouverture: ${loc.ouverture}</p>
                    <p style="font-weight: 500; color: ${loc.ouvert ? 'green' : 'red'};">${loc.ouvert ? "Ouvert" + (loc.deGarde ? ' (de garde)' : '') : "Fermé"}</p>
                </div>`);
        }

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    </script>
</body>

</html>